nav {
  background: var(--primary);
  color: white;
  .logo {
    font-size: 18 px;
    font-weight: 700;
  }
}

ul {
  li {
    display: inline-block;
    border-radius: 3px;
    padding: 10px 20px;
    &:hover {
      background: var(--secondary);
    }
    transition: background-color 0.4s;
  }
}
